<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Quotes</h1>
      <hr>
      <ul>
        <li *ngFor='let quote of quotes let i = index'>
          {{quote.quote}}
         <app-quote-detail  [quote]='quote'(toDelete) = 'deleteQuote($event,i)'></app-quote-detail>
         <i class="fa fa-thumbs-up" (click)="upvote(i)"></i>b
         <i class="fa fa-thumbs-down" (click)="upvote(i)"></i>
         <button (click)= 'quoteComplete(true)'>Delete</button><br>

        </li>
      </ul>

    </div>

  </div>

</div>
