
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Quotes</h1>
    <ul>
      <div *ngFor='let quote of quotes let i = index' >
        <li appHighlight>{{quote.quote}}</li>

          <app-quote-detail  [quote]='quote'(toDelete) = 'deleteQuote($event,i)'></app-quote-detail>
           <i class="fa fa-thumbs-up"(click)="upvote(i)" aria-hidden="true"></i><br>
           <i class="fa fa-thumbs-down"(click)= "downvote(i)"aria-hidden="true"></i><br>


      </div>
    </ul>

    
