<div class="container-fluid">
  <h2 class="text-center">CREATE NEW QUOTE</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

          <label for="quote">QUOTE</label>
          <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Please input Quote</p>
          </div>
      </div>
      <div class="form-group">

          <label for="author">AUTHOR</label>
          <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Please input author</p>
          </div>
          <label for="publisher">PUBLISHER</label>
          <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" required>
          <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
            <p>Please input publisher</p>
          </div>

      </div>
      <div class="form-group">
          <label for="create">CREATION DATE</label>
          <input type='date' id="create"[(ngModel)]="newQuote.createDate" name="createDate" #createDate="ngModel" required required>
          <div [hidden]="createDate.valid || createDate.pristine" class="alert alert-danger">
          <p>Date is required</p>
          </div>
      </div>
      <button type="submit" class="btn btn-success">Add Quote</button>
  </form>
</div>
